
body { 
    background: url(/assets/images/synth-retrowave-stock.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 3000px 100%;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
    min-height: 100vh;
}

main{
    padding-bottom: 300px;
}

.jumbotron {
    background-image: url(/assets/images/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg);
    background-size: cover;
    height: 100%;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.9);
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.7);
    margin-bottom: 0;
}

.push-spaces{
    height: 1000px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    display: flex;
    justify-content: start;
    align-items: left;
}

.right{
    display: flex;
    justify-content: end;
    align-items: right;
}

.highlight{
    color: #fb3864;
}

.navbar{
    /* background: #000; */
    box-shadow: inset 0 0 0 500px rgba(38, 37, 43, .9);
}

/* .nav-link{
    color: #fb3864;
} */

a{
    color: #00AFF8;

}

a:hover{
    color: #EE1295;
}

a:active{
    color: #ffffff;
}

.section{
    margin-top: 100px;
    margin-bottom: 50px;
    background: #0c1024;
    border-radius: 0px 20px 20px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 1px;
}

.section:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ffffff;
    z-index: -1;
}

.section:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ffffff;
    z-index: -1;
    filter: blur(40px);
}

.section:before,
.section:after{
    background: linear-gradient(to top right, #00AFF8, #0c1024, #EE1295 );

}

.content{
    background: #0c1024;
    margin: 2px;
    padding: 20px;
}

.section-heading{
    text-decoration: underline;
    margin-bottom: 50px;
    color: white;
}

.projects{
    margin-top: 50px;
}

/* main{
    height: 5000px;
} */

i{

}

.dev-icons{
    font-size: 72px;
    background: -webkit-linear-gradient(#00AFF8, #EE1295);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dev-icons{
    font-size: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.icon-row{
    margin-bottom: 20px;
}

.imgcard{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    transition: 0.5s;
    color: white;
    background: #0c1024;
    z-index: 1;
}

.imgcard:hover{
    height: 250px;

}

.imgcard .imgbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #0c1024;
}

.imgcard .imgbox img{
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
    Position:absolute;
    Top:0;
    Left:0;
    Width:100%;
    Height:100%;
    Object-fit:cover;
}

.imgcard:hover .imgbox img{
opacity: 1.0;
}

.imgcard:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ffffff;
    z-index: -1;
}

.imgcard:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ffffff;
    z-index: -1;
    filter: blur(40px);
}

#card1:before,
#card1:after{
    background: linear-gradient(to bottom left, #00AFF8, #0c1024, #EE1295 );
}

#card2:before,
#card2:after{
    background: linear-gradient(to bottom right, #00AFF8, #0c1024, #EE1295 );
}

#card3:before,
#card3:after{
    background: linear-gradient(to bottom left, #00AFF8, #0c1024, #EE1295 );
}

#card4:before,
#card4:after{
    background: linear-gradient(to bottom right, #00AFF8, #0c1024, #EE1295 );
}

.imgcard .cardcontent{
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 50px;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.imgcard:hover .cardcontent{
    opacity: 1;
}

.project-row{
    margin-bottom: 10px;
}

/* .imgcard .cardcontent h2{
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    line-height: 20px;
} */

.experience{
    margin-top: 0px;

}

footer{
    width: 100%;
    box-shadow: inset 0 0 0 500px rgba(38, 37, 43, .9);
    height: 150px;
    color: gray;
}

.footer-icons{
    margin-top: 20px;
    font-size: 30px;
    /* letter-spacing: 30px; */
    margin-bottom: 20px;
}

.footer-icons a{
    margin-left: 10px;
    margin-right: 10px;
}

.footer-links{
    color: #fb3864;
}

.footer-links:hover{
    color: #00AFF8;
}

.footer-links:active{
    color: #ffffff;
}

.media{
    margin: 20px;
    border: thin;
    /* border-style: solid; */
    /* border-color: grey; */
}

.media img{
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

/* #job-title{
    font-size: 15px;
} */

#resume-button{
    margin-top: 50px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    /* font-size: 20px; */
    overflow: hidden;
    transition: 0.2s;
    /* box-shadow: 0 0 10px #00AFF8, 0 0 40px #00AFF8, 0 0 80px #00AFF8; */
    border: solid rgba(38, 37, 43, .9);
    border-width: 2px;
 

}

#resume-button:hover{
    color: black;
    background: #EE1295;
    box-shadow: 0 0 10px #EE1295, 0 0 40px #EE1295, 0 0 80px #EE1295;
    transition-delay: .0s;
    border: solid rgba(38, 37, 43, .0);
    border-width: 2px;
}

#resume-button:active{
    color: black;
    background: #ffffff;
    box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
    transition-delay: .0s;
    border: solid rgba(38, 37, 43, .0);
    border-width: 2px;
}